---
title: Photography Exploration
tagline: Below are some of my favorite photos that I have taken
---

<!DOCTYPE html>
<html lang="en-us">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1">

  <title>{{ page.title | default: site.title }}</title>
  <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
  <link rel="stylesheet" href="{{ '/assets/css/gallery.css?v=' | append: site.github.build_revision | relative_url }}">

  {% seo title=false %}

  {% include head-custom.html %}
</head>


<body>
  <div class="wrapper">
    <header>
      <h1 class="title">{{ page.title | default: site.title }}</h1>
    </header>
    <div id="container">
      <div class="download-bar menu">
        <div class="inner">
          <div class="menu-bar">
            <input id="home-button" type="button" value="Home" onclick="location.href='/index.html';">
            <input id="back-button" type="button" value="Back" onclick="history.back()">
            <input id="solidworks-button" type="button" value="Solidworks" onclick="location.href='/solidworks.html';">
            <input id="photo-button" type="button" value="Photography" onclick="location.href='/photography.html';">
          </div>
        </div>
      </div>
      <h1 class="title splitter">{{ page.tagline }}</h1>
      <div class="download-bar options">
        <div class="inner">
          <div class="menu-bar" id="myBtnContainer">
            <button class="btn active" onclick="filterSelection('all')"> Show all </button>
            <button class="btn" onclick="filterSelection('astro')"> Astrophotogprahy </button>
            <button class="btn" onclick="filterSelection('city')"> City </button>
            <button class="btn" onclick="filterSelection('nature')"> Nature </button>
            <button class="btn" onclick="filterSelection('sky_landscape')"> Landscape </button>
            <button class="btn" onclick="filterSelection('wildlife')"> Animals </button>
            <button class="btn" onclick="filterSelection('msc')"> Msc </button>
          </div>
        </div>
      </div>

      <!-- Exploration Gallery Grid -->
      <div id="masterCont">
        {% include_relative /photography/gallery_items.html %}
      </div>
    </div>

  </div>
  <script src="{{ '/assets/js/gallery.js' | relative_url }}"></script>
</body>

</html>