---
title: Solid&#8203;Works Exploration
tagline: "This is a compilation of my favorite SolidWorks projects, it shows off my skills in SolidWorks and how I use
this amazing software."
---

<!DOCTYPE html>
<html lang="en-us">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1">

  <title>{{ page.title | default: site.title }}</title>
  <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
  <link rel="stylesheet" href="{{ '/assets/css/gallery.css?v=' | append: site.github.build_revision | relative_url }}">
  <style>
    #master {
      column-count: 5;
      -webkit-column-count: 5;
      -moz-column-count: 5;
    }
  </style>

  {% seo title=false %}

  {% include head-custom.html %}

</head>

<body>
  <div class="wrapper">
    <header>
      <h1 class="title">{{ page.title | default: site.title }}</h1>
    </header>
    <div id="container">
      <div class="download-bar menu">
        <div class="inner">
          <div class="menu-bar">
            <input id="home-button" type="button" value="Home" onclick="location.href='/index.html';">
            <input id="back-button" type="button" value="Back" onclick="history.back()">
            <input id="solidworks-button" type="button" value="Solidworks" onclick="location.href='/solidworks.html';">
            <input id="photo-button" type="button" value="Photography" onclick="location.href='/photography.html';">
          </div>
        </div>
      </div>
      <h1 class="title splitter">{{ page.tagline }}</h1>
      <div class="download-bar options">
        <div class="inner">
        </div>
      </div>

      <!-- Exploration Gallery Grid -->
      <div id="masterCont">
        {% include_relative /solidworks/project_items.html %}
      </div>
    </div>

  </div>
  <script src="{{ '/assets/js/gallery.js' | relative_url }}"></script>
  <script>
    // Modified from: https://css-tricks.com/block-links-the-search-for-a-perfect-solution/#method-4-sprinkle-javascript-on-the-second-method
    const colElements = document.querySelectorAll(".colElement")
    const mainLinks = document.querySelectorAll('.main-link')

    for (let i = 0; i < colElements.length; i++) {
      colElements[i].addEventListener("click", handleClick)

      function handleClick(event) {
        const isTextSelected = window.getSelection().toString();
        if (!isTextSelected) {
          mainLinks[i].click();
        }
      }
    }

  </script>
</body>

</html>