---
title: Solid&#8203;Works Exploration
tagline: "Compilation of some of my favorite SolidWorks projects."
---

<!DOCTYPE html>
<html lang="en-us">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1">

  <title>{{ page.title | default: site.title }}</title>
  <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
  <link rel="stylesheet" href="{{ '/assets/css/solidworks.css' | relative_url }}">

  {% seo title=false %}
</head>

<body>
  {% include assets/html/header.html %}
  <div class="wrapper">
    <header>
      <h1 class="title">{{ page.title | default: site.title }}</h1>
    </header>
    <div id="container">
      {% include assets/html/navigation-bar.html %}
      <h1 class="title splitter">{{ page.tagline }}</h1>
      <div class="download-bar options"></div>
      <!-- Exploration Gallery Grid -->
      <div id="masterCont">
        {% include_relative /SolidWorks/project_items.html %}
      </div>
      <div class="download-bar certs">
        <div class="inner" style="width: 100%">
          <!-- <img width="auto" src="SolidWorks\certs\Certificate_C-5UGRHJLZCV.jpg" alt="Certificate_C-5UGRHJLZCV"> -->
          <a class="clickable" target="_blank" href="SolidWorks\certs\Certificate_C-5UGRHJLZCV.jpg"><img class="certLogo" src="SolidWorks\certs\Expert - Mechanical Design.jpg" alt="Expert - Mechanical Design"></a>
          <img class="certLogo" src="SolidWorks\certs\Professional - Mechanical Design.jpg" alt="Professional - Mechanical Design">
          <img class="certLogo" src="SolidWorks\certs\Professional - Drawing Tools.jpg" alt="Professional - Drawing Tools">
          <img class="certLogo" src="SolidWorks\certs\Professional - Sheet Metal.jpg" alt="Professional - Sheet Metal">
          <img class="certLogo" src="SolidWorks\certs\Professional - Surfacing.jpg" alt="Professional - Surfacing">
          <img class="certLogo" src="SolidWorks\certs\Professional - Weldments.jpg" alt="Professional - Weldments">
          <img class="certLogo" src="SolidWorks\certs\Associate - Additive Manufacturing.jpg" alt="Additive Manufacturing">
          <img class="certLogo" src="SolidWorks\certs\Associate - Mechanical Design.jpg" alt="Associate - Mechanical Design">
        </div>
      </div>
    </div>

  </div>
  {% include assets/html/footer.html %}
  <script>
    // Modified from: https://css-tricks.com/block-links-the-search-for-a-perfect-solution/#method-4-sprinkle-javascript-on-the-second-method
    const colElements = document.querySelectorAll(".colElement")
    const mainLinks = document.querySelectorAll('.main-link')

    for (let i = 0; i < colElements.length; i++) {
      colElements[i].addEventListener("click", handleClick)

      function handleClick(event) {
        const isTextSelected = window.getSelection().toString();
        if (!isTextSelected) {
          mainLinks[i].click();
        }
      }
    }

  </script>
</body>

</html>