---
title: Ian Boraks
---

<!DOCTYPE html>
<html lang="en-us">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <title>{{ page.title | default: site.title }}</title>
    <link rel="stylesheet" type="text/css" href="assets/css/landing.css">

    {% seo title=false %}
    <style>
        /* .container.header {
            background-color: transparent !important;
        } */
    </style>
</head>

<body>
    {% include assets/html/header.html %}
    <div id="main">
        <div class="container title">
            <div class="wrapper">
                <div class="splitWord first">IAN</div>
                <div class="splitWord last">BORAKS</div>
            </div>
            <div id="master"></div> <!-- This is for the skip to content button -->
            <div class="wrapper menu">
                <input type="button" value="SolidWorks" onclick="location.href='/solidworks.html';">
                <input type="button" value="Photography" onclick="location.href='/photography.html';">
            </div>
            <div class="wrapper menu">
                <input type="button" value="Resume" onclick="window.open('https://forms.gle/K9xrZ8yxC1t6pHo96?type=individual','_blank')">
                <input type="button" value="Career Portfolio" onclick="location.href='/career-port.html';" />
            </div>
        </div>
    </div>
    {% include assets/html/footer.html %}
    <script> // Modified from https://stackoverflow.com/a/63781543
        x = document.getElementsByClassName("splitWord");

        for (i = 0; i < x.length; i++) {
            const wrapText = x[i];
            wrapText.innerHTML = wrapText.textContent.split('').map(function (y) {
                return '<div>' + y + '</div>';
            }).join('');
        }
    </script>
</body>

</html>