---
---

@import "/assets/fbla_css/master.css";

#devPlan::after {
  line-height: 1em;
  content: "Career Development Plan";
}
#jobShadow::after {
  line-height: 1em;
  content: "Job Shadowing";
}
#intern::after {
  line-height: 1em;
  content: "Internships";
}
#commServ::after {
  line-height: 1em;
  content: "Community Service";
}

@media (max-width: 1217px) {
  #devPlan::after {
    line-height: 2em;
    content: "Development Plan";
  }
}

@media (max-width: 1100px) {
  #devPlan::after {
    line-height: 1em;
    content: "Career Development Plan";
  }
}
