---
---

body {
	width: 80vw !important;
	margin-left: 10vw !important;
	margin-right: 10vw !important;
}

.download-bar menu {
	margin-bottom: 4px;
}

.colElement {
	content: "";
	font-size: 20px;
	margin: 4px;
	margin-top: 0;
	font-size: 20px;

	border: 1px solid whitesmoke;
	// TODO: Get this working on all sides currently this only works on the left side
	// border-radius: 4px 4px 4px 4px;

	break-inside: avoid-column;
	overflow-y: scroll;
	overflow-x: hidden;
	-ms-overflow-style: none;
	scrollbar-width: thin;
}

// ---------------------------------
// Thank you to https://stackoverflow.com/a/70490309/11013589 for there help with this annoying problem of a reverse wrap underline only on bottom line :) becuase I am picky and want it to be stylish. This is a modified version of the original answer.
.colCaption {
	display: flex;
	justify-content: center;
	flex-wrap: wrap-reverse;
	flex-direction: row-reverse;
	gap: 0.3rem; /* the gap */

	// This is used to make the underline smaller then the gap
	outline: 0.3rem solid rgb(34, 34, 34); /* same as the underline */
	outline-offset: -2px;
	z-index: 1;
	position: relative;
}
.colCpationCont {
	width: 100%;
	height: 48px; /* 2rem + 4px(margin) * 2 */
	overflow-y: visible; /* we need to hide the overflow */
}
.colCaption span {
	position: relative;
}
.colCaption span::before,
.colCaption span::after {
	content: "";
	position: absolute;
	height: 0.3rem;
}
/* your underline */
.colCaption span::before {
	inset: 100% -0.3rem auto; /* 5px same as gap, you can use bigger if you want but not smaller  */
	background: mediumpurple;
	z-index: -1;
}
/* the hack that will hide the non-needed unreline */
.colCaption span::after {
	inset: auto -200vmax 100%; /* 200vmax is a very big value */
	background: rgb(34, 34, 34); /* same as main background */
	z-index: 1;
}

// .colCaptionCont::after {
// 	content: "";
// 	height: 100%;
// 	width: 100%;
// 	outline: 0.3rem solid red; /* same as the underline */
// 	outline-offset: -0.2rem;
// 	position: absolute;
// }

// ----------------------------------------------------------

.colContent {
	content: "";
	color: whitesmoke;

	margin: 1em;
	margin-top: 0; /* No need as this margin is set by the .colCaption*/
	margin-bottom: 4px; /* This now matches the margins in .colCaption*/

	max-height: 25em;
	line-height: 1em;
}

.colContent .colParentList {
	margin: 0;
	padding: 0;
	list-style: none;
}

#master {
	column-count: 2;
	-webkit-column-count: 2;
	-moz-column-count: 2;
}

#masterCont {
	margin-top: 4px;
	padding-bottom: 4px;
}

.accordion {
	cursor: pointer;
	padding: 18px;
	padding-left: 5px;
	margin-left: -5px;
	width: 100%;
	border: none;
	text-align: left;
	outline: none;
	font-size: 15px;
	transition: 0.4s;
	margin-bottom: 2px;

	background-color: rgb(34, 34, 34);
	border-radius: 5px 5px 5px 5px;

	border-bottom: 1px solid mediumpurple;
}

.active,
.accordion:hover {
	background-color: rgb(59, 59, 59);
}

.accordion:after {
	content: "\002B";
	color: #777;
	font-weight: bold;
	float: right;
	margin-left: 5px;
}

.active:after {
	content: "\2212";
}

.panel {
	padding: 0 18px;
	/* background-color: white; */
	max-height: 0;
	overflow: hidden;
	transition: max-height 0.2s ease-out;
}

// TODO: Need to fix 3x column wrapping
// @media (max-width: 1100px) {
//   #master {
//     column-count: 3 !important;
//     -webkit-column-count: 3 !important;
//     -moz-column-count: 3 !important;
//   }

//   .colElement {
//     margin-top: 4px;
//   }
// }

@media (max-width: 1100px) {
	#master {
		column-count: 2 !important;
		-webkit-column-count: 2 !important;
		-moz-column-count: 2 !important;
	}

	.colElement {
		margin-top: 0;
	}
}

@media (max-width: 600px) {
	#master {
		column-count: 1 !important;
		-webkit-column-count: 1 !important;
		-moz-column-count: 1 !important;
	}

	.colCaption {
		height: auto;
	}
}
