---
---

@import "/assets/fbla_css/master.css";

#appBusEdu::after {
  line-height: 2em;
  content: "of Business Education";
}
#schoolAct::after {
  line-height: 1em;
  content: "School Activities";
}
#carRes::after {
  line-height: 1em;
  content: "Career Research Projects";
}
#occSkill::after {
  line-height: 1em;
  content: "Occupational Skills";
}

@media (max-width: 1215px) {
  #carRes::after {
    line-height: 2em;
    content: "Research Projects";
  }
}

// @media (max-width: 1092px) {
//   #appBusEdu::after {
//     line-height: 2em;
//     content: "Business Education";
//   }
//   #carRes::after {
//     line-height: 2em;
//     content: "Research Projects";
//   }
// }

@media (max-width: 1100px) {
  #appBusEdu::after {
    line-height: 1em;
    content: "Application of Business Education";
  }
  #carRes::after {
    line-height: 1em;
    content: "Career Research Projects";
  }
}

@media (max-width: 788px) {
  #appBusEdu::after {
    line-height: 2em;
    content: "of Business Education";
  }
}

@media (max-width: 600px) {
  #appBusEdu::after {
    line-height: 1em;
    content: "Application of Business Education";
  }
}

@media (max-width: 395.2px) {
  #appBusEdu::after {
    line-height: 2em;
    content: "of Business Education";
  }
}
