---
---

@import "/assets/fbla_css/master.css";

#master {
  column-count: 2;
  -webkit-column-count: 2;
  -moz-column-count: 2;
}

.colElement {
  margin-top: 0;
}

#orgMod::after {
  line-height: 1em;
  content: "Organic 3D Modeling & Game Design";
}

@media (max-width: 852px) {
  #orgMod::after {
    line-height: 2em;
    content: "3D Modeling & Game Design";
  }
}

@media (max-width: 666px) {
  #orgMod::after {
    line-height: 2em;
    content: "Modeling & Game Design";
  }
}

@media (max-width: 600px) {
  #orgMod::after {
    line-height: 1em;
    content: "Organic 3D Modeling & Game Design";
  }
}

@media (max-width: 428px) {
  #orgMod::after {
    line-height: 2em;
    content: "3D Modeling & Game Design";
  }
}

@media (max-width: 328px) {
  #orgMod::after {
    line-height: 2em;
    content: "Modeling & Game Design";
  }
}
