@import url("./shared.css");

#top-nav {
	background-color: var(--color-primary-dark);
	color: var(--font-color-light);

	position: fixed;
	width: 1200px;

	// position: absolute;
	top: 0;
	left: 50%;
	margin-right: -50%;
	transform: translateX(-50%);
	height: 60px;

	z-index: 9999;

	#top-nav-holder {
		position: relative;
		height: 100%;
		width: 100%;

		display: flex;
		flex-direction: row;

		align-items: center;
		justify-content: center;
	}

	.top-nav-button {
		height: 100%;
		margin: 0;
		padding: 10px;

		line-height: calc(30px + 0.5em);

		text-align: center;

		transition: 0.2s;

		&:hover,
		&.active {
			background-color: var(--color-primary);
			cursor: pointer;
		}
	}
}

#main-content {
	background-color: var(--color-primary);
	// min-width: fit-content;
	// width: 700px;
	max-width: 1200px;

	position: absolute;
	top: 60px;
	left: 50%;
	margin-right: -50%;
	transform: translateX(-50%);

	.main-content-section {
		display: block;
		min-height: 300px;
		height: fit-content;
		overflow: hidden;

		display: flex;
		flex-flow: row;
		align-items: stretch;

		margin-top: 20px;

		&.spacer {
			background-color: var(--color-secondary);
			color: var(--color-accent);
			width: fit-content;
			height: 45px !important;
			min-height: 0 !important;

			border-radius: 10px;
			padding: 10px;
			text-align: center;
			overflow: hidden;
		}
	}

	.main-content-section > * {
		min-height: 300px;
	}

	.section-main {
		position: relative;
		display: flex;
		flex-flow: column;

		.text-box {
			background-color: var(--color-secondary);
			margin: 10px;
			padding: 5px;

			position: relative;

			
			border-radius: 20px;
		}

		.text-box-holder {
			position: relative;
			top: 50%;
			transform: translateY(-50%);
		}

		.section-title {
			background-color: var(--color-secondary);
			color: var(--color-primary);

			text-align: center;
			border-radius: 20px;

			&:first-of-type {
				margin-bottom: 10px;
			}

			&:not(:first-of-type) {
				margin-top: 10px;
			}
		}

		.section-text {
			font-size: large;
		}
	}

	.section-secondary {
		background-color: var(--color-secondary);

		position: relative;

		display: flex;
		flex-flow: row;

		overflow: hidden;

		&.flex-col {
			flex-flow: column !important;
		}

		img {
			position: relative;
			object-fit: cover;
		}
	}

	.rw40 > .right:not(.left),
	.lw40 > .left:not(.right) {
		width: 40%;
	}

	.rw60 > .right:not(.left),
	.lw60 > .left:not(.right) {
		width: 60%;
	}

	.lw50 > .left,
	.rw50 > .right {
		width: 50%;
	}

	.lw100 > .left,
	.rw100 > .right {
		width: 100%;
		margin: auto !important;
	}

	#contact .text-box {
		width: 100%;
		margin: auto !important;
		align-items: center;
		text-align: center;
		border-radius: 0 !important;
		word-spacing: 40px;

		img:hover {
			cursor: pointer;
			animation: wobble 700ms;
		}
	}

	.left {
		border-radius: 0 80px 80px 0;
		.text-box {
			padding-left: 80px;
			margin-left: -70px;
		}
	}

	.right {
		border-radius: 80px 0 0 80px;
		.text-box {
			padding-right: 80px;
			margin-right: -70px;
		}
	}
}
