@import url("./shared.css");
#top-nav {
  background-color: var(--color-primary-dark);
  color: var(--font-color-light);
  position: fixed;
  width: 1200px;
  top: 0;
  left: 50%;
  margin-right: -50%;
  transform: translateX(-50%);
  height: 60px;
  z-index: 9999;
}
#top-nav #top-nav-holder {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
#top-nav .top-nav-button {
  height: 100%;
  margin: 0;
  padding: 10px;
  line-height: calc(30px + 0.5em);
  text-align: center;
  transition: 0.2s;
}
@media (max-width: 800px) {
  #top-nav .top-nav-button {
    font-size: medium;
  }
}
#top-nav .top-nav-button:hover, #top-nav .top-nav-button.active {
  background-color: var(--color-primary);
  cursor: pointer;
}

#main-content {
  background-color: var(--color-primary);
  max-width: 1200px;
  position: absolute;
  top: 60px;
  left: 50%;
  margin-right: -50%;
  transform: translateX(-50%);
}
#main-content .main-content-section {
  display: block;
  min-height: 300px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  overflow: hidden;
  display: flex;
  align-items: stretch;
  margin-top: 20px;
}
@media (max-width: 800px) {
  #main-content .main-content-section {
    flex-flow: column;
  }
}
#main-content .main-content-section.spacer {
  color: var(--font-color-light);
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: 45px !important;
  min-height: 0 !important;
  border-radius: 10px;
  padding: 10px;
  text-align: center;
  overflow: hidden;
  border-top: var(--color-secondary) solid 5px;
}
#main-content .section-main {
  position: relative;
  display: flex;
  flex-flow: column;
}
#main-content .section-main .text-box-holder {
  position: relative;
}
@media (min-width: 800px) {
  #main-content .section-main .text-box-holder {
    top: 50%;
    transform: translateY(-50%);
  }
}
#main-content .section-main .text-box-holder .text-box {
  padding: 5px;
  position: relative;
  border-radius: 20px;
}
#main-content .section-main .text-box-holder .text-box:not(.more) {
  background-color: var(--color-secondary);
}
#main-content .section-main .text-box-holder .text-box.more .section-title {
  color: var(--font-color-light);
}
#main-content .section-main .text-box-holder .text-box.more * {
  padding: 10px;
  margin-top: -10px;
  transition: 100ms;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
#main-content .section-main .text-box-holder .text-box.more *:hover {
  color: var(--color-accent) !important;
  background-color: var(--color-secondary);
  transition: 100ms;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
@media (min-width: 800px) {
  #main-content .section-main .text-box-holder .text-box {
    margin: 10px;
  }
}
@media (max-width: 800px) {
  #main-content .section-main .text-box-holder .text-box {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}
#main-content .section-main .text-box-holder .text-box .section-title {
  color: var(--color-primary);
  text-align: center;
  border-radius: 20px;
}
#main-content .section-main .text-box-holder .text-box .section-title:first-of-type:not(:only-child) {
  margin-bottom: 10px;
}
#main-content .section-main .text-box-holder .text-box .section-title:not(:first-of-type) {
  margin-top: 10px;
}
#main-content .section-main .text-box-holder .text-box .section-text {
  font-size: large;
}
#main-content .section-secondary {
  background-color: var(--color-secondary);
  position: relative;
  display: flex;
  flex-flow: row;
  overflow: hidden;
}
#main-content .section-secondary.flex-col {
  flex-flow: column !important;
}
#main-content .section-secondary img {
  position: relative;
  -o-object-fit: cover;
     object-fit: cover;
}
#main-content .rw40 > .right:not(.left),
#main-content .lw40 > .left:not(.right) {
  width: 40%;
}
#main-content .rw60 > .right:not(.left),
#main-content .lw60 > .left:not(.right) {
  width: 60%;
}
#main-content .lw50 > .left,
#main-content .rw50 > .right {
  width: 50%;
}
#main-content .lw100 > .left,
#main-content .rw100 > .right {
  width: 100%;
  margin: auto !important;
}
#main-content #contact {
  min-height: 0 !important;
}
@media (max-width: 800px) {
  #main-content #contact {
    margin-right: -10px;
    margin-left: -10px;
  }
}
#main-content #contact .text-box,
#main-content #contact .text-box-holder {
  width: 100%;
  margin: auto !important;
  align-items: center;
  text-align: center;
  border-radius: 0 !important;
  word-spacing: 40px;
  transform: translateY(0) !important;
}
#main-content #contact .text-box img,
#main-content #contact .text-box-holder img {
  filter: hue-rotate(0deg) !important;
}
#main-content #contact .text-box img:hover,
#main-content #contact .text-box-holder img:hover {
  -webkit-animation: wobble 700ms;
          animation: wobble 700ms;
}
@media (min-width: 800px) {
  #main-content .left {
    border-radius: 0 80px 80px 0 !important;
  }
  #main-content .left .text-box {
    padding-left: 80px !important;
    margin-left: -70px !important;
  }
}
@media (min-width: 800px) {
  #main-content .right {
    border-radius: 80px 0 0 80px !important;
  }
  #main-content .right .text-box {
    padding-right: 80px !important;
    margin-right: -70px !important;
  }
}
@media (max-width: 800px) {
  #main-content .left,
#main-content .right {
    border-radius: 40px;
    width: calc(100% - 10px) !important;
  }
  #main-content .left .text-box,
#main-content .right .text-box {
    padding-left: 10px;
    padding-right: 10px;
    margin-right: auto;
    margin-left: auto;
  }
}/*# sourceMappingURL=index.css.map */