@import url("./shared.css");
:root {
  --positionX: 9;
  --positionY: 9;
}

#name {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template: repeat(17, 1fr)/repeat(17, 1fr);
}
#name .cell {
  width: 100%;
  height: 100%;
  z-index: 2;
}
#name .content {
  white-space: nowrap;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
#name .name_followers {
  position: absolute;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  top: 50%;
  left: 50%;
  text-align: center;
  color: whitesmoke;
  text-shadow: 0 0 10px grey;
  transition: transform 100ms linear;
}
#name .name_followers:nth-child(1) {
  font-size: 100px;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  opacity: 0.1;
  transform: scale(1) translateX(calc(-50% - (var(--positionX) - 9) * 27px)) translateY(calc(-50% - (var(--positionY) - 9) * 27px)) rotateX(calc(0deg - (var(--positionY) - 9) * 5deg)) rotateY(calc((var(--positionX) - 9) * 5deg));
}
#name .name_followers:nth-child(2) {
  font-size: 110px;
  -webkit-animation-delay: -0.3s;
          animation-delay: -0.3s;
  opacity: 0.2;
  transform: scale(1) translateX(calc(-50% - (var(--positionX) - 9) * 24px)) translateY(calc(-50% - (var(--positionY) - 9) * 24px)) rotateX(calc(0deg - (var(--positionY) - 9) * 5deg)) rotateY(calc((var(--positionX) - 9) * 5deg));
}
#name .name_followers:nth-child(3) {
  font-size: 120px;
  -webkit-animation-delay: -0.6s;
          animation-delay: -0.6s;
  opacity: 0.3;
  transform: scale(1) translateX(calc(-50% - (var(--positionX) - 9) * 21px)) translateY(calc(-50% - (var(--positionY) - 9) * 21px)) rotateX(calc(0deg - (var(--positionY) - 9) * 5deg)) rotateY(calc((var(--positionX) - 9) * 5deg));
}
#name .name_followers:nth-child(4) {
  font-size: 130px;
  -webkit-animation-delay: -0.9s;
          animation-delay: -0.9s;
  opacity: 0.4;
  transform: scale(1) translateX(calc(-50% - (var(--positionX) - 9) * 18px)) translateY(calc(-50% - (var(--positionY) - 9) * 18px)) rotateX(calc(0deg - (var(--positionY) - 9) * 5deg)) rotateY(calc((var(--positionX) - 9) * 5deg));
}
#name .name_followers:nth-child(5) {
  font-size: 140px;
  -webkit-animation-delay: -1.2s;
          animation-delay: -1.2s;
  opacity: 0.5;
  transform: scale(1) translateX(calc(-50% - (var(--positionX) - 9) * 15px)) translateY(calc(-50% - (var(--positionY) - 9) * 15px)) rotateX(calc(0deg - (var(--positionY) - 9) * 5deg)) rotateY(calc((var(--positionX) - 9) * 5deg));
}
#name .name_followers:nth-child(6) {
  font-size: 150px;
  -webkit-animation-delay: -1.5s;
          animation-delay: -1.5s;
  opacity: 0.6;
  transform: scale(1) translateX(calc(-50% - (var(--positionX) - 9) * 12px)) translateY(calc(-50% - (var(--positionY) - 9) * 12px)) rotateX(calc(0deg - (var(--positionY) - 9) * 5deg)) rotateY(calc((var(--positionX) - 9) * 5deg));
}
#name .name_followers:nth-child(7) {
  font-size: 160px;
  -webkit-animation-delay: -1.8s;
          animation-delay: -1.8s;
  opacity: 0.7;
  transform: scale(1) translateX(calc(-50% - (var(--positionX) - 9) * 9px)) translateY(calc(-50% - (var(--positionY) - 9) * 9px)) rotateX(calc(0deg - (var(--positionY) - 9) * 5deg)) rotateY(calc((var(--positionX) - 9) * 5deg));
}
#name .name_followers:nth-child(8) {
  font-size: 170px;
  -webkit-animation-delay: -2.1s;
          animation-delay: -2.1s;
  opacity: 0.8;
  transform: scale(1) translateX(calc(-50% - (var(--positionX) - 9) * 6px)) translateY(calc(-50% - (var(--positionY) - 9) * 6px)) rotateX(calc(0deg - (var(--positionY) - 9) * 5deg)) rotateY(calc((var(--positionX) - 9) * 5deg));
}
#name .name_followers:nth-child(9) {
  font-size: 180px;
  -webkit-animation-delay: -2.4s;
          animation-delay: -2.4s;
  opacity: 0.9;
  transform: scale(1) translateX(calc(-50% - (var(--positionX) - 9) * 3px)) translateY(calc(-50% - (var(--positionY) - 9) * 3px)) rotateX(calc(0deg - (var(--positionY) - 9) * 5deg)) rotateY(calc((var(--positionX) - 9) * 5deg));
}
#name .name_followers:nth-child(10) {
  font-size: 190px;
  -webkit-animation-delay: -2.7s;
          animation-delay: -2.7s;
  opacity: 1;
  transform: scale(1) translateX(calc(-50% - (var(--positionX) - 9) * 0px)) translateY(calc(-50% - (var(--positionY) - 9) * 0px)) rotateX(calc(0deg - (var(--positionY) - 9) * 5deg)) rotateY(calc((var(--positionX) - 9) * 5deg));
}
#name .cell:nth-child(1):hover ~ .content {
  --positionX: 0;
  --positionY: 0;
}
#name .cell:nth-child(2):hover ~ .content {
  --positionX: 1;
  --positionY: 0;
}
#name .cell:nth-child(3):hover ~ .content {
  --positionX: 2;
  --positionY: 0;
}
#name .cell:nth-child(4):hover ~ .content {
  --positionX: 3;
  --positionY: 0;
}
#name .cell:nth-child(5):hover ~ .content {
  --positionX: 4;
  --positionY: 0;
}
#name .cell:nth-child(6):hover ~ .content {
  --positionX: 5;
  --positionY: 0;
}
#name .cell:nth-child(7):hover ~ .content {
  --positionX: 6;
  --positionY: 0;
}
#name .cell:nth-child(8):hover ~ .content {
  --positionX: 7;
  --positionY: 0;
}
#name .cell:nth-child(9):hover ~ .content {
  --positionX: 8;
  --positionY: 0;
}
#name .cell:nth-child(10):hover ~ .content {
  --positionX: 9;
  --positionY: 0;
}
#name .cell:nth-child(11):hover ~ .content {
  --positionX: 10;
  --positionY: 0;
}
#name .cell:nth-child(12):hover ~ .content {
  --positionX: 11;
  --positionY: 0;
}
#name .cell:nth-child(13):hover ~ .content {
  --positionX: 12;
  --positionY: 0;
}
#name .cell:nth-child(14):hover ~ .content {
  --positionX: 13;
  --positionY: 0;
}
#name .cell:nth-child(15):hover ~ .content {
  --positionX: 14;
  --positionY: 0;
}
#name .cell:nth-child(16):hover ~ .content {
  --positionX: 15;
  --positionY: 0;
}
#name .cell:nth-child(17):hover ~ .content {
  --positionX: 16;
  --positionY: 0;
}
#name .cell:nth-child(18):hover ~ .content {
  --positionX: 0;
  --positionY: 1;
}
#name .cell:nth-child(19):hover ~ .content {
  --positionX: 1;
  --positionY: 1;
}
#name .cell:nth-child(20):hover ~ .content {
  --positionX: 2;
  --positionY: 1;
}
#name .cell:nth-child(21):hover ~ .content {
  --positionX: 3;
  --positionY: 1;
}
#name .cell:nth-child(22):hover ~ .content {
  --positionX: 4;
  --positionY: 1;
}
#name .cell:nth-child(23):hover ~ .content {
  --positionX: 5;
  --positionY: 1;
}
#name .cell:nth-child(24):hover ~ .content {
  --positionX: 6;
  --positionY: 1;
}
#name .cell:nth-child(25):hover ~ .content {
  --positionX: 7;
  --positionY: 1;
}
#name .cell:nth-child(26):hover ~ .content {
  --positionX: 8;
  --positionY: 1;
}
#name .cell:nth-child(27):hover ~ .content {
  --positionX: 9;
  --positionY: 1;
}
#name .cell:nth-child(28):hover ~ .content {
  --positionX: 10;
  --positionY: 1;
}
#name .cell:nth-child(29):hover ~ .content {
  --positionX: 11;
  --positionY: 1;
}
#name .cell:nth-child(30):hover ~ .content {
  --positionX: 12;
  --positionY: 1;
}
#name .cell:nth-child(31):hover ~ .content {
  --positionX: 13;
  --positionY: 1;
}
#name .cell:nth-child(32):hover ~ .content {
  --positionX: 14;
  --positionY: 1;
}
#name .cell:nth-child(33):hover ~ .content {
  --positionX: 15;
  --positionY: 1;
}
#name .cell:nth-child(34):hover ~ .content {
  --positionX: 16;
  --positionY: 1;
}
#name .cell:nth-child(35):hover ~ .content {
  --positionX: 0;
  --positionY: 2;
}
#name .cell:nth-child(36):hover ~ .content {
  --positionX: 1;
  --positionY: 2;
}
#name .cell:nth-child(37):hover ~ .content {
  --positionX: 2;
  --positionY: 2;
}
#name .cell:nth-child(38):hover ~ .content {
  --positionX: 3;
  --positionY: 2;
}
#name .cell:nth-child(39):hover ~ .content {
  --positionX: 4;
  --positionY: 2;
}
#name .cell:nth-child(40):hover ~ .content {
  --positionX: 5;
  --positionY: 2;
}
#name .cell:nth-child(41):hover ~ .content {
  --positionX: 6;
  --positionY: 2;
}
#name .cell:nth-child(42):hover ~ .content {
  --positionX: 7;
  --positionY: 2;
}
#name .cell:nth-child(43):hover ~ .content {
  --positionX: 8;
  --positionY: 2;
}
#name .cell:nth-child(44):hover ~ .content {
  --positionX: 9;
  --positionY: 2;
}
#name .cell:nth-child(45):hover ~ .content {
  --positionX: 10;
  --positionY: 2;
}
#name .cell:nth-child(46):hover ~ .content {
  --positionX: 11;
  --positionY: 2;
}
#name .cell:nth-child(47):hover ~ .content {
  --positionX: 12;
  --positionY: 2;
}
#name .cell:nth-child(48):hover ~ .content {
  --positionX: 13;
  --positionY: 2;
}
#name .cell:nth-child(49):hover ~ .content {
  --positionX: 14;
  --positionY: 2;
}
#name .cell:nth-child(50):hover ~ .content {
  --positionX: 15;
  --positionY: 2;
}
#name .cell:nth-child(51):hover ~ .content {
  --positionX: 16;
  --positionY: 2;
}
#name .cell:nth-child(52):hover ~ .content {
  --positionX: 0;
  --positionY: 3;
}
#name .cell:nth-child(53):hover ~ .content {
  --positionX: 1;
  --positionY: 3;
}
#name .cell:nth-child(54):hover ~ .content {
  --positionX: 2;
  --positionY: 3;
}
#name .cell:nth-child(55):hover ~ .content {
  --positionX: 3;
  --positionY: 3;
}
#name .cell:nth-child(56):hover ~ .content {
  --positionX: 4;
  --positionY: 3;
}
#name .cell:nth-child(57):hover ~ .content {
  --positionX: 5;
  --positionY: 3;
}
#name .cell:nth-child(58):hover ~ .content {
  --positionX: 6;
  --positionY: 3;
}
#name .cell:nth-child(59):hover ~ .content {
  --positionX: 7;
  --positionY: 3;
}
#name .cell:nth-child(60):hover ~ .content {
  --positionX: 8;
  --positionY: 3;
}
#name .cell:nth-child(61):hover ~ .content {
  --positionX: 9;
  --positionY: 3;
}
#name .cell:nth-child(62):hover ~ .content {
  --positionX: 10;
  --positionY: 3;
}
#name .cell:nth-child(63):hover ~ .content {
  --positionX: 11;
  --positionY: 3;
}
#name .cell:nth-child(64):hover ~ .content {
  --positionX: 12;
  --positionY: 3;
}
#name .cell:nth-child(65):hover ~ .content {
  --positionX: 13;
  --positionY: 3;
}
#name .cell:nth-child(66):hover ~ .content {
  --positionX: 14;
  --positionY: 3;
}
#name .cell:nth-child(67):hover ~ .content {
  --positionX: 15;
  --positionY: 3;
}
#name .cell:nth-child(68):hover ~ .content {
  --positionX: 16;
  --positionY: 3;
}
#name .cell:nth-child(69):hover ~ .content {
  --positionX: 0;
  --positionY: 4;
}
#name .cell:nth-child(70):hover ~ .content {
  --positionX: 1;
  --positionY: 4;
}
#name .cell:nth-child(71):hover ~ .content {
  --positionX: 2;
  --positionY: 4;
}
#name .cell:nth-child(72):hover ~ .content {
  --positionX: 3;
  --positionY: 4;
}
#name .cell:nth-child(73):hover ~ .content {
  --positionX: 4;
  --positionY: 4;
}
#name .cell:nth-child(74):hover ~ .content {
  --positionX: 5;
  --positionY: 4;
}
#name .cell:nth-child(75):hover ~ .content {
  --positionX: 6;
  --positionY: 4;
}
#name .cell:nth-child(76):hover ~ .content {
  --positionX: 7;
  --positionY: 4;
}
#name .cell:nth-child(77):hover ~ .content {
  --positionX: 8;
  --positionY: 4;
}
#name .cell:nth-child(78):hover ~ .content {
  --positionX: 9;
  --positionY: 4;
}
#name .cell:nth-child(79):hover ~ .content {
  --positionX: 10;
  --positionY: 4;
}
#name .cell:nth-child(80):hover ~ .content {
  --positionX: 11;
  --positionY: 4;
}
#name .cell:nth-child(81):hover ~ .content {
  --positionX: 12;
  --positionY: 4;
}
#name .cell:nth-child(82):hover ~ .content {
  --positionX: 13;
  --positionY: 4;
}
#name .cell:nth-child(83):hover ~ .content {
  --positionX: 14;
  --positionY: 4;
}
#name .cell:nth-child(84):hover ~ .content {
  --positionX: 15;
  --positionY: 4;
}
#name .cell:nth-child(85):hover ~ .content {
  --positionX: 16;
  --positionY: 4;
}
#name .cell:nth-child(86):hover ~ .content {
  --positionX: 0;
  --positionY: 5;
}
#name .cell:nth-child(87):hover ~ .content {
  --positionX: 1;
  --positionY: 5;
}
#name .cell:nth-child(88):hover ~ .content {
  --positionX: 2;
  --positionY: 5;
}
#name .cell:nth-child(89):hover ~ .content {
  --positionX: 3;
  --positionY: 5;
}
#name .cell:nth-child(90):hover ~ .content {
  --positionX: 4;
  --positionY: 5;
}
#name .cell:nth-child(91):hover ~ .content {
  --positionX: 5;
  --positionY: 5;
}
#name .cell:nth-child(92):hover ~ .content {
  --positionX: 6;
  --positionY: 5;
}
#name .cell:nth-child(93):hover ~ .content {
  --positionX: 7;
  --positionY: 5;
}
#name .cell:nth-child(94):hover ~ .content {
  --positionX: 8;
  --positionY: 5;
}
#name .cell:nth-child(95):hover ~ .content {
  --positionX: 9;
  --positionY: 5;
}
#name .cell:nth-child(96):hover ~ .content {
  --positionX: 10;
  --positionY: 5;
}
#name .cell:nth-child(97):hover ~ .content {
  --positionX: 11;
  --positionY: 5;
}
#name .cell:nth-child(98):hover ~ .content {
  --positionX: 12;
  --positionY: 5;
}
#name .cell:nth-child(99):hover ~ .content {
  --positionX: 13;
  --positionY: 5;
}
#name .cell:nth-child(100):hover ~ .content {
  --positionX: 14;
  --positionY: 5;
}
#name .cell:nth-child(101):hover ~ .content {
  --positionX: 15;
  --positionY: 5;
}
#name .cell:nth-child(102):hover ~ .content {
  --positionX: 16;
  --positionY: 5;
}
#name .cell:nth-child(103):hover ~ .content {
  --positionX: 0;
  --positionY: 6;
}
#name .cell:nth-child(104):hover ~ .content {
  --positionX: 1;
  --positionY: 6;
}
#name .cell:nth-child(105):hover ~ .content {
  --positionX: 2;
  --positionY: 6;
}
#name .cell:nth-child(106):hover ~ .content {
  --positionX: 3;
  --positionY: 6;
}
#name .cell:nth-child(107):hover ~ .content {
  --positionX: 4;
  --positionY: 6;
}
#name .cell:nth-child(108):hover ~ .content {
  --positionX: 5;
  --positionY: 6;
}
#name .cell:nth-child(109):hover ~ .content {
  --positionX: 6;
  --positionY: 6;
}
#name .cell:nth-child(110):hover ~ .content {
  --positionX: 7;
  --positionY: 6;
}
#name .cell:nth-child(111):hover ~ .content {
  --positionX: 8;
  --positionY: 6;
}
#name .cell:nth-child(112):hover ~ .content {
  --positionX: 9;
  --positionY: 6;
}
#name .cell:nth-child(113):hover ~ .content {
  --positionX: 10;
  --positionY: 6;
}
#name .cell:nth-child(114):hover ~ .content {
  --positionX: 11;
  --positionY: 6;
}
#name .cell:nth-child(115):hover ~ .content {
  --positionX: 12;
  --positionY: 6;
}
#name .cell:nth-child(116):hover ~ .content {
  --positionX: 13;
  --positionY: 6;
}
#name .cell:nth-child(117):hover ~ .content {
  --positionX: 14;
  --positionY: 6;
}
#name .cell:nth-child(118):hover ~ .content {
  --positionX: 15;
  --positionY: 6;
}
#name .cell:nth-child(119):hover ~ .content {
  --positionX: 16;
  --positionY: 6;
}
#name .cell:nth-child(120):hover ~ .content {
  --positionX: 0;
  --positionY: 7;
}
#name .cell:nth-child(121):hover ~ .content {
  --positionX: 1;
  --positionY: 7;
}
#name .cell:nth-child(122):hover ~ .content {
  --positionX: 2;
  --positionY: 7;
}
#name .cell:nth-child(123):hover ~ .content {
  --positionX: 3;
  --positionY: 7;
}
#name .cell:nth-child(124):hover ~ .content {
  --positionX: 4;
  --positionY: 7;
}
#name .cell:nth-child(125):hover ~ .content {
  --positionX: 5;
  --positionY: 7;
}
#name .cell:nth-child(126):hover ~ .content {
  --positionX: 6;
  --positionY: 7;
}
#name .cell:nth-child(127):hover ~ .content {
  --positionX: 7;
  --positionY: 7;
}
#name .cell:nth-child(128):hover ~ .content {
  --positionX: 8;
  --positionY: 7;
}
#name .cell:nth-child(129):hover ~ .content {
  --positionX: 9;
  --positionY: 7;
}
#name .cell:nth-child(130):hover ~ .content {
  --positionX: 10;
  --positionY: 7;
}
#name .cell:nth-child(131):hover ~ .content {
  --positionX: 11;
  --positionY: 7;
}
#name .cell:nth-child(132):hover ~ .content {
  --positionX: 12;
  --positionY: 7;
}
#name .cell:nth-child(133):hover ~ .content {
  --positionX: 13;
  --positionY: 7;
}
#name .cell:nth-child(134):hover ~ .content {
  --positionX: 14;
  --positionY: 7;
}
#name .cell:nth-child(135):hover ~ .content {
  --positionX: 15;
  --positionY: 7;
}
#name .cell:nth-child(136):hover ~ .content {
  --positionX: 16;
  --positionY: 7;
}
#name .cell:nth-child(137):hover ~ .content {
  --positionX: 0;
  --positionY: 8;
}
#name .cell:nth-child(138):hover ~ .content {
  --positionX: 1;
  --positionY: 8;
}
#name .cell:nth-child(139):hover ~ .content {
  --positionX: 2;
  --positionY: 8;
}
#name .cell:nth-child(140):hover ~ .content {
  --positionX: 3;
  --positionY: 8;
}
#name .cell:nth-child(141):hover ~ .content {
  --positionX: 4;
  --positionY: 8;
}
#name .cell:nth-child(142):hover ~ .content {
  --positionX: 5;
  --positionY: 8;
}
#name .cell:nth-child(143):hover ~ .content {
  --positionX: 6;
  --positionY: 8;
}
#name .cell:nth-child(144):hover ~ .content {
  --positionX: 7;
  --positionY: 8;
}
#name .cell:nth-child(145):hover ~ .content {
  --positionX: 8;
  --positionY: 8;
}
#name .cell:nth-child(146):hover ~ .content {
  --positionX: 9;
  --positionY: 8;
}
#name .cell:nth-child(147):hover ~ .content {
  --positionX: 10;
  --positionY: 8;
}
#name .cell:nth-child(148):hover ~ .content {
  --positionX: 11;
  --positionY: 8;
}
#name .cell:nth-child(149):hover ~ .content {
  --positionX: 12;
  --positionY: 8;
}
#name .cell:nth-child(150):hover ~ .content {
  --positionX: 13;
  --positionY: 8;
}
#name .cell:nth-child(151):hover ~ .content {
  --positionX: 14;
  --positionY: 8;
}
#name .cell:nth-child(152):hover ~ .content {
  --positionX: 15;
  --positionY: 8;
}
#name .cell:nth-child(153):hover ~ .content {
  --positionX: 16;
  --positionY: 8;
}
#name .cell:nth-child(154):hover ~ .content {
  --positionX: 0;
  --positionY: 9;
}
#name .cell:nth-child(155):hover ~ .content {
  --positionX: 1;
  --positionY: 9;
}
#name .cell:nth-child(156):hover ~ .content {
  --positionX: 2;
  --positionY: 9;
}
#name .cell:nth-child(157):hover ~ .content {
  --positionX: 3;
  --positionY: 9;
}
#name .cell:nth-child(158):hover ~ .content {
  --positionX: 4;
  --positionY: 9;
}
#name .cell:nth-child(159):hover ~ .content {
  --positionX: 5;
  --positionY: 9;
}
#name .cell:nth-child(160):hover ~ .content {
  --positionX: 6;
  --positionY: 9;
}
#name .cell:nth-child(161):hover ~ .content {
  --positionX: 7;
  --positionY: 9;
}
#name .cell:nth-child(162):hover ~ .content {
  --positionX: 8;
  --positionY: 9;
}
#name .cell:nth-child(163):hover ~ .content {
  --positionX: 9;
  --positionY: 9;
}
#name .cell:nth-child(164):hover ~ .content {
  --positionX: 10;
  --positionY: 9;
}
#name .cell:nth-child(165):hover ~ .content {
  --positionX: 11;
  --positionY: 9;
}
#name .cell:nth-child(166):hover ~ .content {
  --positionX: 12;
  --positionY: 9;
}
#name .cell:nth-child(167):hover ~ .content {
  --positionX: 13;
  --positionY: 9;
}
#name .cell:nth-child(168):hover ~ .content {
  --positionX: 14;
  --positionY: 9;
}
#name .cell:nth-child(169):hover ~ .content {
  --positionX: 15;
  --positionY: 9;
}
#name .cell:nth-child(170):hover ~ .content {
  --positionX: 16;
  --positionY: 9;
}
#name .cell:nth-child(171):hover ~ .content {
  --positionX: 0;
  --positionY: 10;
}
#name .cell:nth-child(172):hover ~ .content {
  --positionX: 1;
  --positionY: 10;
}
#name .cell:nth-child(173):hover ~ .content {
  --positionX: 2;
  --positionY: 10;
}
#name .cell:nth-child(174):hover ~ .content {
  --positionX: 3;
  --positionY: 10;
}
#name .cell:nth-child(175):hover ~ .content {
  --positionX: 4;
  --positionY: 10;
}
#name .cell:nth-child(176):hover ~ .content {
  --positionX: 5;
  --positionY: 10;
}
#name .cell:nth-child(177):hover ~ .content {
  --positionX: 6;
  --positionY: 10;
}
#name .cell:nth-child(178):hover ~ .content {
  --positionX: 7;
  --positionY: 10;
}
#name .cell:nth-child(179):hover ~ .content {
  --positionX: 8;
  --positionY: 10;
}
#name .cell:nth-child(180):hover ~ .content {
  --positionX: 9;
  --positionY: 10;
}
#name .cell:nth-child(181):hover ~ .content {
  --positionX: 10;
  --positionY: 10;
}
#name .cell:nth-child(182):hover ~ .content {
  --positionX: 11;
  --positionY: 10;
}
#name .cell:nth-child(183):hover ~ .content {
  --positionX: 12;
  --positionY: 10;
}
#name .cell:nth-child(184):hover ~ .content {
  --positionX: 13;
  --positionY: 10;
}
#name .cell:nth-child(185):hover ~ .content {
  --positionX: 14;
  --positionY: 10;
}
#name .cell:nth-child(186):hover ~ .content {
  --positionX: 15;
  --positionY: 10;
}
#name .cell:nth-child(187):hover ~ .content {
  --positionX: 16;
  --positionY: 10;
}
#name .cell:nth-child(188):hover ~ .content {
  --positionX: 0;
  --positionY: 11;
}
#name .cell:nth-child(189):hover ~ .content {
  --positionX: 1;
  --positionY: 11;
}
#name .cell:nth-child(190):hover ~ .content {
  --positionX: 2;
  --positionY: 11;
}
#name .cell:nth-child(191):hover ~ .content {
  --positionX: 3;
  --positionY: 11;
}
#name .cell:nth-child(192):hover ~ .content {
  --positionX: 4;
  --positionY: 11;
}
#name .cell:nth-child(193):hover ~ .content {
  --positionX: 5;
  --positionY: 11;
}
#name .cell:nth-child(194):hover ~ .content {
  --positionX: 6;
  --positionY: 11;
}
#name .cell:nth-child(195):hover ~ .content {
  --positionX: 7;
  --positionY: 11;
}
#name .cell:nth-child(196):hover ~ .content {
  --positionX: 8;
  --positionY: 11;
}
#name .cell:nth-child(197):hover ~ .content {
  --positionX: 9;
  --positionY: 11;
}
#name .cell:nth-child(198):hover ~ .content {
  --positionX: 10;
  --positionY: 11;
}
#name .cell:nth-child(199):hover ~ .content {
  --positionX: 11;
  --positionY: 11;
}
#name .cell:nth-child(200):hover ~ .content {
  --positionX: 12;
  --positionY: 11;
}
#name .cell:nth-child(201):hover ~ .content {
  --positionX: 13;
  --positionY: 11;
}
#name .cell:nth-child(202):hover ~ .content {
  --positionX: 14;
  --positionY: 11;
}
#name .cell:nth-child(203):hover ~ .content {
  --positionX: 15;
  --positionY: 11;
}
#name .cell:nth-child(204):hover ~ .content {
  --positionX: 16;
  --positionY: 11;
}
#name .cell:nth-child(205):hover ~ .content {
  --positionX: 0;
  --positionY: 12;
}
#name .cell:nth-child(206):hover ~ .content {
  --positionX: 1;
  --positionY: 12;
}
#name .cell:nth-child(207):hover ~ .content {
  --positionX: 2;
  --positionY: 12;
}
#name .cell:nth-child(208):hover ~ .content {
  --positionX: 3;
  --positionY: 12;
}
#name .cell:nth-child(209):hover ~ .content {
  --positionX: 4;
  --positionY: 12;
}
#name .cell:nth-child(210):hover ~ .content {
  --positionX: 5;
  --positionY: 12;
}
#name .cell:nth-child(211):hover ~ .content {
  --positionX: 6;
  --positionY: 12;
}
#name .cell:nth-child(212):hover ~ .content {
  --positionX: 7;
  --positionY: 12;
}
#name .cell:nth-child(213):hover ~ .content {
  --positionX: 8;
  --positionY: 12;
}
#name .cell:nth-child(214):hover ~ .content {
  --positionX: 9;
  --positionY: 12;
}
#name .cell:nth-child(215):hover ~ .content {
  --positionX: 10;
  --positionY: 12;
}
#name .cell:nth-child(216):hover ~ .content {
  --positionX: 11;
  --positionY: 12;
}
#name .cell:nth-child(217):hover ~ .content {
  --positionX: 12;
  --positionY: 12;
}
#name .cell:nth-child(218):hover ~ .content {
  --positionX: 13;
  --positionY: 12;
}
#name .cell:nth-child(219):hover ~ .content {
  --positionX: 14;
  --positionY: 12;
}
#name .cell:nth-child(220):hover ~ .content {
  --positionX: 15;
  --positionY: 12;
}
#name .cell:nth-child(221):hover ~ .content {
  --positionX: 16;
  --positionY: 12;
}
#name .cell:nth-child(222):hover ~ .content {
  --positionX: 0;
  --positionY: 13;
}
#name .cell:nth-child(223):hover ~ .content {
  --positionX: 1;
  --positionY: 13;
}
#name .cell:nth-child(224):hover ~ .content {
  --positionX: 2;
  --positionY: 13;
}
#name .cell:nth-child(225):hover ~ .content {
  --positionX: 3;
  --positionY: 13;
}
#name .cell:nth-child(226):hover ~ .content {
  --positionX: 4;
  --positionY: 13;
}
#name .cell:nth-child(227):hover ~ .content {
  --positionX: 5;
  --positionY: 13;
}
#name .cell:nth-child(228):hover ~ .content {
  --positionX: 6;
  --positionY: 13;
}
#name .cell:nth-child(229):hover ~ .content {
  --positionX: 7;
  --positionY: 13;
}
#name .cell:nth-child(230):hover ~ .content {
  --positionX: 8;
  --positionY: 13;
}
#name .cell:nth-child(231):hover ~ .content {
  --positionX: 9;
  --positionY: 13;
}
#name .cell:nth-child(232):hover ~ .content {
  --positionX: 10;
  --positionY: 13;
}
#name .cell:nth-child(233):hover ~ .content {
  --positionX: 11;
  --positionY: 13;
}
#name .cell:nth-child(234):hover ~ .content {
  --positionX: 12;
  --positionY: 13;
}
#name .cell:nth-child(235):hover ~ .content {
  --positionX: 13;
  --positionY: 13;
}
#name .cell:nth-child(236):hover ~ .content {
  --positionX: 14;
  --positionY: 13;
}
#name .cell:nth-child(237):hover ~ .content {
  --positionX: 15;
  --positionY: 13;
}
#name .cell:nth-child(238):hover ~ .content {
  --positionX: 16;
  --positionY: 13;
}
#name .cell:nth-child(239):hover ~ .content {
  --positionX: 0;
  --positionY: 14;
}
#name .cell:nth-child(240):hover ~ .content {
  --positionX: 1;
  --positionY: 14;
}
#name .cell:nth-child(241):hover ~ .content {
  --positionX: 2;
  --positionY: 14;
}
#name .cell:nth-child(242):hover ~ .content {
  --positionX: 3;
  --positionY: 14;
}
#name .cell:nth-child(243):hover ~ .content {
  --positionX: 4;
  --positionY: 14;
}
#name .cell:nth-child(244):hover ~ .content {
  --positionX: 5;
  --positionY: 14;
}
#name .cell:nth-child(245):hover ~ .content {
  --positionX: 6;
  --positionY: 14;
}
#name .cell:nth-child(246):hover ~ .content {
  --positionX: 7;
  --positionY: 14;
}
#name .cell:nth-child(247):hover ~ .content {
  --positionX: 8;
  --positionY: 14;
}
#name .cell:nth-child(248):hover ~ .content {
  --positionX: 9;
  --positionY: 14;
}
#name .cell:nth-child(249):hover ~ .content {
  --positionX: 10;
  --positionY: 14;
}
#name .cell:nth-child(250):hover ~ .content {
  --positionX: 11;
  --positionY: 14;
}
#name .cell:nth-child(251):hover ~ .content {
  --positionX: 12;
  --positionY: 14;
}
#name .cell:nth-child(252):hover ~ .content {
  --positionX: 13;
  --positionY: 14;
}
#name .cell:nth-child(253):hover ~ .content {
  --positionX: 14;
  --positionY: 14;
}
#name .cell:nth-child(254):hover ~ .content {
  --positionX: 15;
  --positionY: 14;
}
#name .cell:nth-child(255):hover ~ .content {
  --positionX: 16;
  --positionY: 14;
}
#name .cell:nth-child(256):hover ~ .content {
  --positionX: 0;
  --positionY: 15;
}
#name .cell:nth-child(257):hover ~ .content {
  --positionX: 1;
  --positionY: 15;
}
#name .cell:nth-child(258):hover ~ .content {
  --positionX: 2;
  --positionY: 15;
}
#name .cell:nth-child(259):hover ~ .content {
  --positionX: 3;
  --positionY: 15;
}
#name .cell:nth-child(260):hover ~ .content {
  --positionX: 4;
  --positionY: 15;
}
#name .cell:nth-child(261):hover ~ .content {
  --positionX: 5;
  --positionY: 15;
}
#name .cell:nth-child(262):hover ~ .content {
  --positionX: 6;
  --positionY: 15;
}
#name .cell:nth-child(263):hover ~ .content {
  --positionX: 7;
  --positionY: 15;
}
#name .cell:nth-child(264):hover ~ .content {
  --positionX: 8;
  --positionY: 15;
}
#name .cell:nth-child(265):hover ~ .content {
  --positionX: 9;
  --positionY: 15;
}
#name .cell:nth-child(266):hover ~ .content {
  --positionX: 10;
  --positionY: 15;
}
#name .cell:nth-child(267):hover ~ .content {
  --positionX: 11;
  --positionY: 15;
}
#name .cell:nth-child(268):hover ~ .content {
  --positionX: 12;
  --positionY: 15;
}
#name .cell:nth-child(269):hover ~ .content {
  --positionX: 13;
  --positionY: 15;
}
#name .cell:nth-child(270):hover ~ .content {
  --positionX: 14;
  --positionY: 15;
}
#name .cell:nth-child(271):hover ~ .content {
  --positionX: 15;
  --positionY: 15;
}
#name .cell:nth-child(272):hover ~ .content {
  --positionX: 16;
  --positionY: 15;
}
#name .cell:nth-child(273):hover ~ .content {
  --positionX: 0;
  --positionY: 16;
}
#name .cell:nth-child(274):hover ~ .content {
  --positionX: 1;
  --positionY: 16;
}
#name .cell:nth-child(275):hover ~ .content {
  --positionX: 2;
  --positionY: 16;
}
#name .cell:nth-child(276):hover ~ .content {
  --positionX: 3;
  --positionY: 16;
}
#name .cell:nth-child(277):hover ~ .content {
  --positionX: 4;
  --positionY: 16;
}
#name .cell:nth-child(278):hover ~ .content {
  --positionX: 5;
  --positionY: 16;
}
#name .cell:nth-child(279):hover ~ .content {
  --positionX: 6;
  --positionY: 16;
}
#name .cell:nth-child(280):hover ~ .content {
  --positionX: 7;
  --positionY: 16;
}
#name .cell:nth-child(281):hover ~ .content {
  --positionX: 8;
  --positionY: 16;
}
#name .cell:nth-child(282):hover ~ .content {
  --positionX: 9;
  --positionY: 16;
}
#name .cell:nth-child(283):hover ~ .content {
  --positionX: 10;
  --positionY: 16;
}
#name .cell:nth-child(284):hover ~ .content {
  --positionX: 11;
  --positionY: 16;
}
#name .cell:nth-child(285):hover ~ .content {
  --positionX: 12;
  --positionY: 16;
}
#name .cell:nth-child(286):hover ~ .content {
  --positionX: 13;
  --positionY: 16;
}
#name .cell:nth-child(287):hover ~ .content {
  --positionX: 14;
  --positionY: 16;
}
#name .cell:nth-child(288):hover ~ .content {
  --positionX: 15;
  --positionY: 16;
}
#name .cell:nth-child(289):hover ~ .content {
  --positionX: 16;
  --positionY: 16;
}

#name_description {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
#name_description .content {
  text-align: center;
  color: whitesmoke;
  position: relative;
  top: calc(100vh - 2em);
}

.social_icon {
  position: absolute;
  height: 20.58vmin;
  width: 20.58vmin;
  z-index: 3;
}
.social_icon:hover ~ #name .name_followers {
  transition: all 300ms linear;
}
.social_icon img {
  width: 100%;
  height: 100%;
}
.social_icon img:hover {
  -webkit-animation: spin 700ms;
          animation: spin 700ms;
}
@-webkit-keyframes spin {
  25% {
    filter: brightness(1.1);
    transform: scale(1.1) rotate(15deg);
  }
  75% {
    filter: brightness(1.2);
    transform: scale(1.2) rotate(-15deg);
  }
}
@keyframes spin {
  25% {
    filter: brightness(1.1);
    transform: scale(1.1) rotate(15deg);
  }
  75% {
    filter: brightness(1.2);
    transform: scale(1.2) rotate(-15deg);
  }
}

#LinkedIn {
  top: 5.88vh;
  left: 5.88vw;
}
#LinkedIn:hover ~ #name .content {
  --positionX: 1;
  --positionY: 1;
}
#LinkedIn:hover ~ #name .content .name_followers {
  color: #31a8e7;
  text-shadow: 0 0 10px black;
}

#Instagram {
  top: 5.88vh;
  right: 5.88vw;
}
#Instagram:hover ~ #name .content {
  --positionX: 16;
  --positionY: 1;
}
#Instagram:hover ~ #name .content .name_followers {
  color: #ff543e;
  text-shadow: 0 0 10px black;
}

#GitHub {
  bottom: 5.88vh;
  right: 5.88vw;
}
#GitHub img {
  transform: scale(1.11);
}
#GitHub:hover ~ #name .content {
  --positionX: 16;
  --positionY: 16;
}
#GitHub:hover ~ #name .content .name_followers {
  color: #9370db;
  text-shadow: 0 0 10px black;
}

#Contact {
  bottom: 5.88vh;
  left: 5.88vw;
}
#Contact:hover ~ #name .content {
  --positionX: 1;
  --positionY: 16;
}
#Contact:hover ~ #name .content .name_followers {
  color: gold;
  text-shadow: 0 0 10px black;
}/*# sourceMappingURL=index.css.map */