@import url("./shared.css");
#top-nav {
  background-color: var(--color-secondary);
  color: var(--font-color);
  position: fixed;
  width: 100vw;
  height: 60px;
  top: 0;
  right: 0;
  z-index: 9999;
}
#top-nav #top-nav-holder {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
#top-nav .top-nav-button {
  height: 100%;
  margin: 0;
  padding: 10px;
  line-height: calc(30px + 0.5em);
  text-align: center;
  transition: 0.2s;
}
#top-nav .top-nav-button:hover, #top-nav .top-nav-button.active {
  background-color: var(--color-primary);
  cursor: pointer;
}

#main-content {
  background-color: var(--color-primary);
  max-width: 1500px;
  position: absolute;
  top: 60px;
  left: 50%;
  margin-right: -50%;
  transform: translateX(-50%);
}
#main-content .main-content-section {
  display: block;
  min-height: 300px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  overflow: auto;
  display: flex;
  flex-flow: row;
  align-items: stretch;
  margin-top: 20px;
}
#main-content .main-content-section.spacer {
  background-color: var(--color-secondary);
  color: var(--color-accent);
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: 45px !important;
  min-height: 0 !important;
  border-radius: 10px;
  padding: 10px;
  text-align: center;
  overflow: hidden;
}
#main-content .main-content-section > * {
  min-height: 300px;
}
#main-content .section-main {
  position: relative;
}
#main-content .section-main .text-box {
  top: 46%;
  margin: 10px;
  position: absolute;
  transform: translateY(-50%);
}
#main-content .section-main .section-title {
  background-color: var(--color-secondary);
  color: var(--color-primary);
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 10px;
  text-align: center;
}
#main-content .section-main .section-title:first-of-type {
  margin-bottom: 20px;
}
#main-content .section-main .section-title:not(:first-of-type) {
  margin-top: 20px;
}
#main-content .section-main .text-box > * {
  background-color: var(--color-secondary);
  padding: 10px;
  border-radius: 10px;
}
#main-content .section-main .section-text {
  font-size: large;
}
#main-content .section-secondary {
  background-color: var(--color-secondary);
  position: relative;
  display: flex;
  flex-flow: row;
  overflow: hidden;
}
#main-content .section-secondary.flex-col {
  flex-flow: column !important;
}
#main-content .section-secondary img {
  position: relative;
  -o-object-fit: cover;
     object-fit: cover;
}
#main-content .rw40 > .right:not(.left),
#main-content .lw40 > .left:not(.right) {
  width: 40%;
}
#main-content .rw60 > .right:not(.left),
#main-content .lw60 > .left:not(.right) {
  width: 60%;
}
#main-content .lw50 > .left,
#main-content .rw50 > .right {
  width: 50%;
}
#main-content .left {
  border-radius: 0 20px 20px 0;
}
#main-content .right {
  border-radius: 20px 0 0 20px;
}/*# sourceMappingURL=index.css.map */