@import url("./shared.css");

#top-nav {
	background-color: var(--color-secondary);
	color: var(--font-color);

	position: fixed;
	width: 100vw;
	height: 60px;

	top: 0;
	right: 0;

	z-index: 9999;

	#top-nav-holder {
		position: relative;
		height: 100%;
		width: 100%;

		display: flex;
		flex-direction: row;

		align-items: center;
		justify-content: center;
	}

	.top-nav-button {
		height: 100%;
		margin: 0;
		padding: 10px;

		line-height: calc(30px + 0.5em);

		text-align: center;

		transition: 0.2s;

		&:hover,
		&.active {
			background-color: var(--color-primary);
			cursor: pointer;
		}
	}
}

#main-content {
	background-color: var(--color-primary);
	// min-width: fit-content;
	// width: 700px;
	max-width: 1500px;

	position: absolute;
	top: 60px;
	left: 50%;
	margin-right: -50%;
	transform: translateX(-50%);
	// outline: 5px solid var(--color-accent);

	.main-content-section {
		display: block;
		min-height: 300px;
		height: fit-content;
		overflow: auto;

		display: flex;
		flex-flow: row;
		align-items: stretch;

		margin-top: 20px;

		&.spacer {
			background-color: var(--color-secondary);
			color: var(--color-accent);
			width: fit-content;
			height: 45px !important;
			min-height: 0 !important;

			border-radius: 10px;
			padding: 10px;
			text-align: center;
			overflow: hidden;
		}
	}

	.main-content-section > * {
		min-height: 300px;
	}

	.section-main {
		position: relative;

		.text-box {
			top: 46%;
			margin: 10px;

			position: absolute;

			-webkit-transform: translateY(-50%);
			-ms-transform: translateY(-50%);
			transform: translateY(-50%);
		}

		.section-title {
			background-color: var(--color-secondary);
			color: var(--color-primary);
			width: fit-content;

			border-radius: 10px;
			text-align: center;

			&:first-of-type {
				margin-bottom: 20px;
			}

			&:not(:first-of-type) {
				margin-top: 20px;
			}
		}

		.text-box > * {
			background-color: var(--color-secondary);
			padding: 10px;

			border-radius: 10px;
		}

		.section-text {
			font-size: large;
		}
	}

	.section-secondary {
		background-color: var(--color-secondary);

		position: relative;

		display: flex;
		flex-flow: row;

		overflow: hidden;

		&.flex-col {
			flex-flow: column !important;
		}

		img {
			position: relative;
			object-fit: cover;
		}
	}

	.rw40 > .right:not(.left),
	.lw40 > .left:not(.right) {
		width: 40%;
	}

	.rw60 > .right:not(.left),
	.lw60 > .left:not(.right) {
		width: 60%;
	}

	.lw50 > .left,
	.rw50 > .right {
		width: 50%;
	}

	.left {
		border-radius: 0 20px 20px 0;
	}

	.right {
		border-radius: 20px 0 0 20px;
	}
}
