---
title: Educational Enhancement
---

<!DOCTYPE html>
<html lang="en-us">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width,initial-scale=1" />

  <title>{{ page.title | default: site.title }}</title>
  <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}" />
  <style>
    #container {
      border: 0 none;
      background-color: var(--background-color);
      background-image: none;
    }

    .download-bar.menu {
      border-bottom: 5px solid #444 !important;
      margin-bottom: 0;
    }

    @media (max-width: 800px) and (min-width: 0px) {}
  </style>

  {% seo title=false %} {% include head-custom.html %}
</head>

<body>
  <!-- TODO: Remove "I" from sections -->
  {% include assets/html/header.html %}
  <div class="wrapper">
    <header>
      <h1 class="title">{{ page.title | default: site.title }}</h1>
    </header>
    <div id="container">
      {% include assets/html/fbla-navigation-bar.html %}
      <div id="masterCont">
        <div id="master">
          <style>
            @import url("{{ '/assets/css/responsive-column.css' | relative_url }}");
            @import url("{{ '/assets/fbla_css/edu-enhancement.css' | relative_url }}");
          </style>
          <div class="colElement">
            <div class="colCpationCont">
              <p id="commServ" class="colCaption">Community Service</p>
            </div>
            <div class="colContent">
              <ul class="colParentList">
                <li class="accordion" tabindex="0">Integrated Family Community Services (IFCS)</li>
                <ul class="panel">
                  <li class="clickable-list">
                    <a href="https://ifcs.org/" target="_blank">
                      Link to IFCS website
                    </a>
                  </li>
                  <li>Ready, Set, Go Back to School! Program</li>
                  <li>I dealt with the assembly and final transaction of school supplies to family in less favorable situations.</li>
                </ul>
                <li class="accordion" tabindex="0">Altitude Youth Ultimate (AYU)</li>
                <ul class="panel">
                  <li class="clickable-list">
                    <a href="https://www.altitudeyouthultimate.org/" target="_blank">
                      Link to AYU website
                    </a>
                  </li>
                  <li>Score keeper, time keeper, and statistics keeper</li>
                  <li>I helped with the set up and tear down of the masters national and colorado cup professional level ultimate frisbee tournament. I also assisted with making sure the medical tents where stocked with water/ice and I kept score and statistics for the final games for half of the divisions.</li>
                </ul>
                <li class="accordion" tabindex="0">Make 4 Covid</li>
                <ul class="panel">
                  <li class="clickable-list">
                    <a href="https://make4covid.co/" target="_blank">
                      Link to Make 4 Covid website
                    </a>
                  </li>
                  <li>Maker [3D printing]</li>
                  <li>I fabricated over 350 pieces of PPE for health care workers.</li>
                </ul>
              </ul>
            </div>
          </div>
          <div class="colElement">
            <div class="colCpationCont">
              <p id="devPlan" class="colCaption">Career Development Plan</p>
            </div>
            <div class="colContent">
              <ul class="colParentList">
                <li class="accordion" tabindex="0">Education</li>
                <ul class="panel">
                  <li>[2022] Gain my high school diploma</li>
                  <li>[2026] Gain my bachelors and/or masters degree</li>
                  <ul>
                    <li>If I decide to attend Colorado School of Mines, I will be able to complete my masters degree in 4 years using my college credits I have obtained during high school.</li>
                    <li>If I attend an out of state institution that does not offer a 4 year master program, I will just pursue my bachelors of science until a later date when I decide to apply for a graduate program.</li>
                  </ul>
                </ul>
                <li class="accordion" tabindex="0">Certificates</li>
                <ul class="panel">
                  <li class="clickable-list">
                    <a target="_blank" href="https://pythoninstitute.org/certification/pcap-certification-associate/">
                      Python Certification
                    </a>
                  </li>
                  <li class="clickable-list">
                    <a target="_blank" href="https://www.comptia.org/certifications/linux">
                      CompTIA - Linux+ Certification
                    </a>or
                    <a target="_blank" href="https://w3.testout.com/courses/linux-pro">
                      TestOut - Linux Pro Certification
                    </a>
                  </li>
                  <li class="clickable-list">
                    <a target="_blank" href="https://resources.github.com/certifications/">
                      GitHub Certification
                    </a>
                  </li>
                </ul>
                <li class="accordion" tabindex="0">Employment</li>
                <ul class="panel">
                  <li>[2024] Work part-time in a design or software development house</li>
                  <li>[2026] After graduation join an aerospace company as either a design consultant or system engineer</li>
                  <li>[2036] Hopefully develop my own business and start working on it full-time</li>
                </ul>
              </ul>
            </div>
          </div>
          <div class="colElement">
            <div class="colCpationCont">
              <p id="jobShadow" class="colCaption">One on One Experiences</p>
            </div>
            <div class="colContent">
              <ul class="colParentList">
                <li class="accordion" tabindex="0">Informational Interviews</li>
                <ul class="panel">
                  <li>Ryan L<br><i>[Lockheed Martin, Systems Architect]</i></li>
                  <li>
                    Ryan helped me understand the differences between the main sectors of Lockheed Martin and how you switch and progress through each of them. The information that I gained from this interview will help me in future job positions with or without Lockheed Martin. We went over the strict process involved in gaining clearance for government work as well.
                  </li>
                </ul>
                <li class="accordion" tabindex="0">Mentorships</li>
                <ul class="panel">
                  <li>Steve K<br><i>[Lockheed Martin, Business Process Engineer]</i></li>
                  <li>
                    Steve was very important in my success with public speaking and presentations. With his diverse experience with work, he was able to help me understand the implications of project presentation and the dos and don'ts that go along with it.
                  </li>
                </ul>
              </ul>
            </div>
          </div>
          <div class="colElement">
            <div class="colCpationCont">
              <p id="intern" class="colCaption">Internships</p>
            </div>
            <div class="colContent">
              <ul class="colParentList">
                <li id="LMInternship" class="accordion" tabindex="0">[Summer 2021] Lockheed Martin</li>
                <ul class="panel">
                  <li>Software Development Intern</li>
                  <li>C#, Swift, Objective-C and Unity were utilized for the project.</li>
                  <li>
                    During my Summer internship, my self and 2 other high-school students developed an AR-based application allowing customers to view 3D models on a 1:1 basis, providing high-level descriptions of model components. The application had the expanded capability which allowed connection to a multi-peer, infinitely expandable network. During development, the project was showcased to multiple Program Vice Presidents, a U.S. Air Force Major General, and the Executive Vice President of Lockheed Martin Space. After the completion of the application, it was showcased to the board of directors at Lockheed Martin.
                  </li>
                </ul>
                <li class="accordion" tabindex="0">[Winter 2019/20] The 3D Printing Store</li>
                <ul class="panel">
                  <li>Design and Material Research Intern</li>
                  <li>I helped with in house design projects and completed biomedical material research for a handful of customers.</li>
                </ul>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="{{ '/assets/js/accordion.js' | relative_url }}"></script>
  <script src="{{ '/assets/js/reverse_wrap.js' | relative_url }}"></script>
  {% include assets/html/footer.html %}
</body>

</html>