---
title: Career-Related Education
tagline: "."
---

<!DOCTYPE html>
<html lang="en-us">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width,initial-scale=1" />

  <title>{{ page.title | default: site.title }}</title>
  <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}" />
  <style>
    #container {
      border: 0 none;
      background-color: var(--background_color);
      background-image: none;
    }

    .download-bar.menu {
      border-bottom: 5px solid #444 !important;
      margin-bottom: 0;
    }

    @media (max-width: 800px) and (min-width: 0px) {}
  </style>

  {% seo title=false %}
</head>

<body>
  {% include assets/html/header.html %}
  <div class="wrapper">
    <header>
      <h1 class="title">{{ page.title | default: site.title }}</h1>
    </header>
    <div id="container">
      {% include assets/html/fbla-navigation-bar.html %}
      <div id="masterCont">
        <div id="master">
          <style scoped>
            @import url("{{ '/assets/css/responsive-column.css' | relative_url }}");
            @import url("{{ '/assets/fbla_css/related-edu.css' | relative_url }}");
          </style>
          <div class="colElement">
            <div class="colCpationCont">
              <p id="schoolAct" class="colCaption">School Activities</p>
            </div>
            <div class="colContent">
              <ul class="colParentList">
                <li class="accordion" tabindex="0">TSA</li>
                <ul class="panel">
                  <li>Team Building</li>
                  <li>Project/Time Managment</li>
                  <li>Leadership</li>
                </ul>
                <li class="accordion" tabindex="0">CAD Courses</li>
                <ul class="panel">
                  <li>Solidworks</li>
                  <li>3D Spatial Awareness</li>
                  <li>Good Design Practices</li>
                </ul>
                <li class="accordion" tabindex="0">3D Printing & Manufacturing Courses</li>
                <ul class="panel">
                  <li>Modeling Skills for Additive Manufacturing</li>
                  <li>3D Printer Maintenince and Support</li>
                  <li>Subtractive/Additive Manufacturing Best Practices</li>
                </ul>
              </ul>
            </div>
          </div>
          <div class="colElement">
            <div class="colCpationCont">
              <p id="carRes" class="colCaption">Career Research Projects</p>
            </div>
            <div class="colContent">
              <ul class="colParentList">
                <li class="accordion" tabindex="0">SolidWorks Certificates</li>
                <ul class="panel">
                  <li><a target="_blank" href="https://ian-boraks.github.io/SolidWorks/certs/Certificate_C-5UGRHJLZCV.jpg">Certified SolidWorks Expert (CSWE)</a> - The highest level of certification you can obtain for using SolidWorks</li>
                  <li>Associte Certification in Additive Manufacturing - The highest level of certification you can obtain from Dassault Systems relating to additive manufacturing</li>
                  <li>Solidworks Certification</li>
                </ul>
              </ul>
            </div>
          </div>
          <div class="colElement">
            <div class="colCpationCont">
              <p id="appBusEdu" class="colCaption">Application of Business Education</p>
            </div>
            <div class="colContent">
              <ul class="colParentList">
                <li class="accordion" tabindex="0">a</li>
                <li class="accordion" tabindex="0">b</li>
                <li class="accordion" tabindex="0">c</li>
              </ul>
            </div>
          </div>
          <div class="colElement">
            <div class="colCpationCont">
              <p id="occSkill" class="colCaption">Occupational Skills</p>
            </div>
            <div class="colContent">
              <ul class="colParentList">
                <li>CAD</li>
                <li>3D Printing</li>
                <li>Teamwork</li>
                <li>Leadership</li>
                <li>Project Management</li>
                <li>Time Management</li>
                <li>Communication</li>
                <li>Problem Solving</li>
                <li>Team Building</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="{{ '/assets/js/accordion.js' | relative_url }}"></script>
  <script src="{{ '/assets/js/reverse_wrap.js' | relative_url }}"></script>
  {% include assets/html/footer.html %}
</body>

</html>