---
title: Special Skills
tagline: "."
---

<!DOCTYPE html>
<html lang="en-us">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width,initial-scale=1" />

  <title>{{ page.title | default: site.title }}</title>
  <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}" />
  <style>
    #container {
      border: 0 none;
      background-color: var(--background_color);
      background-image: none;
    }

    .download-bar.menu {
      border-bottom: 5px solid #444 !important;
      margin-bottom: 0;
    }
  </style>

  {% seo title=false %} {% include head-custom.html %}
</head>

<body>
  {% include assets/html/header.html %}
  <div class="wrapper">
    <header>
      <h1 class="title">{{ page.title | default: site.title }}</h1>
    </header>
    <div id="container">
      {% include assets/html/fbla-navigation-bar.html %}
      <div id="masterCont">
        <div id="master">
          <style scoped>
            @import url("{{ '/assets/css/responsive-column.css' | relative_url }}");
            @import url("{{ '/assets/fbla_css/special-skill.css' | relative_url }}");
          </style>
          <div class="colElement">
            <div class="colCpationCont">
              <p id="photo" class="colCaption">Photography</p>
            </div>
            <div class="colContent">
              <ul class="colParentList">
                <li class="accordion" tabindex="0">Marketing</li>
                <ul class="panel">
                  <li>I would be able to help with marketing as well as my main job.</li>
                </ul>
                <li class="accordion" tabindex="0">Social Media</li>
                <ul class="panel">
                  <li>I would be able to help with social media as well as my main job.</li>
                </ul>
                <li class="accordion" tabindex="0">Examples of My Work</li>
                <ul class="panel">
                  <li class="clickable-list">
                    <a href="/photography.html" taget="_blank">Click Here</a>
                  </li>
                </ul>
              </ul>
            </div>
          </div>
          <div class="colElement">
            <div class="colCpationCont">
              <p id="orgMod" class="colCaption">Organic 3D Modeling & Game Design</p>
            </div>
            <div class="colContent">
              <ul class="colParentList">
                <li class="accordion" tabindex="0">Blender</li>
                <ul class="panel">
                  <li>
                    Blender is a free and open-source 3D computer graphics software toolset used for creating animated films, visual effects, art, 3D printed models, motion graphics, interactive 3D applications, virtual reality, and computer games.<br>
                    <blockquote style="margin-top: .2em; margin-bottom: 0;">
                      <sup style="line-height: 1em; font-size: .5em;">
                        Taken from: https://en.wikipedia.org/wiki/Blender_(software)
                      </sup>
                    </blockquote>
                  </li>
                  <li>
                    By knowing how to use Blender, I would be able to help with promotional material that might use organic 3D modeling.
                  </li>
                </ul>
                <li class="accordion" tabindex="0">Unity/Unreal Engine</li>
                <ul class="panel">
                  <li>
                    Unity and Unreal Engine are open-source game engines developed by Unity Technologies Epic Games respecitivly. Both of these applications are used for creating video games, interactive 3D applications, and virtual reality.<br>
                  </li>
                  <li>
                    Unity and Unreal Engine are used exentivly in promotianl material and VR applciation design.
                  </li>
                </ul>
              </ul>
            </div>
          </div>
          <div class="colElement">
            <div class="colCpationCont">
              <p id="orgMod" class="colCaption">Computer and Network Technician</p>
            </div>
            <div class="colContent">
              <ul class="colParentList">
                <li class="accordion" tabindex="0">PC Pro Certification</li>
                <ul class="panel">
                  <li>Comparable to the: CompTIA A+ 220-1001 & 220-1002 Certifications</li>
                  <li>
                    The main purpose of the TestOut PC Pro certification is to verify necessary skills to work as an IT support professional: install, repair, configure, secure, and manage computer hardware, operating systems, and software in home or corporate environments.
                    <br>
                    <blockquote style="margin-top: .2em; margin-bottom: 0;">
                      <sup style="line-height: 1em; font-size: .5em;">
                        Taken from: https://w3.testout.com/pro-certifications/pc-pro
                      </sup>
                    </blockquote>
                  </li>
                </ul>
                <li class="accordion" tabindex="0">Network Pro Certification</li>
                <ul class="panel">
                  <li>Comparable to the: CompTIA Network+ N10-008 Certification</li>
                  <li>
                    The TestOut Network Pro certification measures an examinee's ability to perform tasks commonly performed by IT network professionals. Needed skills include the management of hardware/software networking components, IP configuration, setting up wireless/wired networks, managing networks, basic network security, software updates, hardware upgrades and network protocols.
                    <br>
                    <blockquote style="margin-top: .2em; margin-bottom: 0;">
                      <sup style="line-height: 1em; font-size: .5em;">
                        Taken from: https://w3.testout.com/pro-certifications/network-pro
                      </sup>
                    </blockquote>
                  </li>
                </ul>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="{{ '/assets/js/accordion.js' | relative_url }}"></script>
  <script src="{{ '/assets/js/reverse_wrap.js' | relative_url }}"></script>
  {% include assets/html/footer.html %}
</body>

</html>