---
title: Special Skills
tagline: "."
---

<!DOCTYPE html>
<html lang="en-us">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width,initial-scale=1" />

  <title>{{ page.title | default: site.title }}</title>
  <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}" />
  <style>
    #container {
      border: 0 none;
      background-color: rgb(34, 34, 34);
      background-image: none;
    }

    .download-bar.menu {
      border-bottom: 5px solid #444 !important;
      margin-bottom: 0;
    }

    @media (max-width: 800px) and (min-width: 0px) {}
  </style>

  {% seo title=false %} {% include head-custom.html %}
</head>

<body>
  {% include assets/html/header.html %}
  <div class="wrapper">
    <header>
      <h1 class="title">{{ page.title | default: site.title }}</h1>
    </header>
    <div id="container">
      {% include assets/html/fbla-navigation-bar.html %}
      <div id="masterCont">
        <div id="master">
          <style scoped>
            @import url("{{ '/assets/css/responsive-column.css' | relative_url }}");
            @import url("{{ '/assets/fbla_css/special-skill.css' | relative_url }}");
          </style>
          <div class="colElement">
            <div class="colCpationCont">
              <div class="menu-bar">
                <div class="wrapper menu">
                  <input id="photo-button" type="button" value="Photography" onclick="location.href='/photography.html';" />
                </div>
              </div>
            </div>
            <div class="colContent">
              <ul class="colParentList">
                <li>Marketing</li>
                <ul>
                  <li>I would be able to help with marketing as well as my main job.</li>
                </ul>
                <li>Social Media</li>
                <ul>
                  <li>I would be able to help with social media as well as my main job.</li>
                </ul>
              </ul>
            </div>
          </div>
          <div class="colElement">
            <div class="colCpationCont">
              <p id="orgMod" class="colCaption">Organic 3D Modeling & Game Design</p>
            </div>
            <div class="colContent">
              <ul class="colParentList">
                <li>Blender</li>
                <ul>
                  <li>
                    Blender is a free and open-source 3D computer graphics software toolset used for creating animated films, visual effects, art, 3D printed models, motion graphics, interactive 3D applications, virtual reality, and computer games.<br>
                    <blockquote style="margin-top: .2em; margin-bottom: 0;">
                      <sup style="line-height: 1em; font-size: .5em;">
                        Taken from: https://en.wikipedia.org/wiki/Blender_(software)
                      </sup>
                    </blockquote>
                  </li>
                  <li>
                    By knowing how to use Blender, I would be able to help with promotional material that might use organic 3D modeling.
                  </li>
                </ul>
                <li>Unity/Unreal Engine</li>
                <ul>
                  <li>
                    Unity and Unreal Engine are open-source game engines developed by Unity Technologies Epic Games respecitivly. Both of these applications are used for creating video games, interactive 3D applications, and virtual reality.<br>
                  </li>
                  <li>
                    Unity and Unreal Engine are used exentivly in promotianl material and VR applciation design.
                  </li>
                </ul>
              </ul>
            </div>
          </div>
          <!-- <div class="colElement">
            <div class="colCpationCont">
              <p id="appBusEdu" class="colCaption">Application of Business Education</p>
            </div>
            <div class="colContent">
              <ul class="colParentList">
                <li>a</li>
                <li>b</li>
                <li>c</li>
              </ul>
            </div>
          </div>
          <div class="colElement">
            <div class="colCpationCont">
              <p id="occSkill" class="colCaption">Occupational Skills</p>
            </div>
            <div class="colContent">
              <ul class="colParentList">
                <li>a</li>
                <li>b</li>
                <li>c</li>
              </ul>
            </div>
          </div> -->
        </div>
      </div>
    </div>
  </div>
  <script> // Modified from https://stackoverflow.com/a/63781543
    x = document.getElementsByClassName("colCaption");

    for (i = 0; i < x.length; i++) {
      const wrapText = x[i];
      wrapText.innerHTML = wrapText.textContent.split(' ').map(function (y) {
        return '<span>' + y + '</span>';
      }).reverse().join('');
    }
  </script>
  {% include assets/html/footer.html %}
</body>

</html>