---
---

.wrapper {
  width: 90%;
  margin: 0 auto;
}

body {
  width: 100%;
  margin: 0px;
  padding: 0px;
  padding-bottom: 10px;
  margin-bottom: 20px; /* Compensates for the footer */
}

.main {
  max-width: 1000px;
  margin: auto;
}

.download-bar.menu {
  margin-top: 4px !important;
}

.download-bar.options {
  margin-bottom: 4px !important;
}

.download-bar.options button {
  margin-bottom: 0.3rem;
}

h1.splitter {
  color: whitesmoke;
  font-size: 40px;
}

div#master img,
div#master video {
  width: 100%;
  height: auto;
  display: none;
}

div#master.oneCol.filtered {
  column-count: 1;
  -webkit-column-count: 1;
  -moz-column-count: 1;
}

div#master.twoCol.filtered {
  column-count: 2;
  -webkit-column-count: 2;
  -moz-column-count: 2;
}

div#master.threeCol.filtered {
  column-count: 3;
  -webkit-column-count: 3;
  -moz-column-count: 3;
}

#master {
  /* Prevent vertical gaps */
  line-height: 0;

  column-count: 4;
  -webkit-column-count: 4;
  -moz-column-count: 4;

  -webkit-column-gap: 0px;
  -moz-column-gap: 0px;
  column-gap: 0px;
}

#master.filtered {
  column-count: 3;
  -webkit-column-count: 3;
  -moz-column-count: 3;
}

#masterCont {
  flex: 0;
  width: 100%;
}

.colCaption {
  line-height: normal;
  color: whitesmoke;
  text-align: center;
  font-weight: bold;
  overflow-wrap: break-word;
  margin: 4px;
}

.colElement {
  font-size: 20px;
  break-inside: avoid-column;
}

/* ALL MOBILE */
@media (max-width: 800px) and (min-width: 0px) {
  .download-bar {
    margin: 0 -2% 0;
  }

  .btn {
    margin-top: 1%;
    margin-bottom: 1%;
  }

  h1.splitter {
    font-size: 25px;
  }

  .colCaption {
    height: auto;
    margin-top: 1%;
    margin-bottom: 1%;
  }
}

@media (max-width: 1000px) {
  #master {
    column-count: 3 !important;
    -webkit-column-count: 3 !important;
    -moz-column-count: 3 !important;
  }

  #master.filtered {
    column-count: 2 !important;
    -webkit-column-count: 2 !important;
    -moz-column-count: 2 !important;
  }
}

@media (max-width: 800px) {
  #master {
    column-count: 2 !important;
    -webkit-column-count: 2 !important;
    -moz-column-count: 2 !important;
  }

  #master.filtered {
    column-count: 1 !important;
    -webkit-column-count: 1 !important;
    -moz-column-count: 1 !important;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media (max-width: 600px) {
  #master,
  #master.filtered {
    column-count: 1 !important;
    -webkit-column-count: 1 !important;
    -moz-column-count: 1 !important;
  }
}

.show {
  display: flex !important;
}
