---
---

@import "/assets/css/variables.css";

.download-bar.menu {
	border-bottom: 5px solid #444 !important;
	margin-bottom: 0;
}

.download-bar.certs {
	margin-bottom: 10px !important;
	margin-top: 10px !important;
	border-radius: 10px;
}

.download-bar.certs .inner {
	line-height: 0;
	column-count: 8;
	-webkit-column-count: 8;
	-moz-column-count: 8;

	-webkit-column-gap: 0px;
	-moz-column-gap: 0px;
	column-gap: 0px;

	padding: 0;
	margin: 0;
	width: 100%;
}

.certLogo {
	line-height: 0;
	flex: 0;
	width: 100%;
	padding: 0;
	margin: 0;
}

#SolidWorks50 img {
	width: 50%;
}
#SolidWorks75 img {
	width: 75%;
}
#SolidWorks100 img {
	width: 100%;
}
#SolidWorks50 img,
#SolidWorks75 img,
#SolidWorks100 img {
	margin-bottom: 10px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

@media (max-width: 800px) and (min-width: 0px) {
	.download-bar.certs .inner {
		column-count: 4;
		-webkit-column-count: 4;
		-moz-column-count: 4;
	}
}

// RESPONSIVENESS FOR DISPLAYS LESS THEN 800px
@media (max-width: 800px) {
	#SolidWorks50 img,
	#SolidWorks75 img,
	#SolidWorks100 img {
		width: 100%;
		margin-bottom: 5px;
	}
}
