---
---

@import "{{ site.theme }}";

// // This is for the footer so I can have my buttons on the right while text on the left
// .split-para      { display:block;}
// .split-para span { display:block;float:right;}
/* Thin scrollbar for Chrome, Safari and Opera */
html::-webkit-scrollbar {
  display: thin;
}

html {
  width: 100vw;
  overflow-x: clip;

  -ms-overflow-style: none;
  scrollbar-width: thin;
}

body {
  // This is for the header and footer
  margin-top: 20px !important;
  margin-bottom: 20px !important;
}

.menu-bar {
  text-align: center;
}
.menu-bar input {
  cursor: pointer;
  font-weight: bold;
  height: 100%;
  position: float;
  background-color: #2222;
  border-color: mediumpurple;
  border-width: 4px;
  color: whitesmoke;
  text-decoration: none;
  transition: opacity ease-in-out 0.3s;
  -webkit-transition: opacity ease-in-out 0.3s;
}
.menu-bar input:active,
.menu-bar input:hover {
  outline: 0;
  filter: brightness(105%);
  text-shadow: 2px 2px rgba(147, 112, 216, 0.753);
}
.inner .menu-bar {
  text-align: center;
}

h1 {
  word-wrap: break-word;
}
h1.title {
  margin: 1px 0px 1px;
  font-size: 50px;
}

#SolidWorks50 img {
  width: 50%;
}
#SolidWorks75 img {
  width: 75%;
}
#SolidWorks100 img {
  width: 100%;
}
#SolidWorks50 img,
#SolidWorks75 img,
#SolidWorks100 img {
  margin-bottom: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

// RESPONSIVENESS FOR DISPLAYS LESS THEN 800px
@media (max-width: 800px) {
  .wrapper {
    width: 90%;
  }

  #SolidWorks50 img,
  #SolidWorks75 img,
  #SolidWorks100 img {
    width: 100%;
    margin-bottom: 5px;
  }

  h1.title {
    margin: 1px 0px 1px;
    font-size: 30px;
  }
}
