<div class="download-bar menu">
    <style scoped>
        .menu-bar {
            margin-bottom: -0.3rem;
        }

        .menu input {
            margin-bottom: 0.3rem;
        }
    </style>
    <div class="inner">
        <div class="menu-bar">
            <!-- <input id="home-button" type="button" value="Home" onclick="location.href='/index.html';" /> -->
            <input type="button" value="Career Portfolio Home" onclick="location.href='/career-port.html';" />
            <!-- <input id="back-button" type="button" value="Back" onclick="history.back()" /> -->
        </div>
        <div style="margin-top: .3rem; margin-bottom: -0.3rem;" class="menu-bar">            
            <input type="button" value="Career-Related Education" onclick="location.href='/fbla/related-education.html';" />
            <input type="button" value="Educational Enhancement" onclick="location.href='/fbla/educational-enhancement.html';" />
            <input type="button" value="Special Skills" onclick="location.href='/fbla/special-skills.html';" />
        </div>
    </div>
</div>