<div style="z-index: 1000; position: fixed;">
  <style scoped>
    .container.footer {
      font-family: "Lucida Console";
      font-size: 10px;

      height: 20px;
      position: fixed;
      left: 0;
      bottom: 0;
      width: 100%;
      background-color: var(--text-color);
      text-align: center;
    }

    .container.footer::before {
      /* create a full-height inline block pseudo-element */
      content: "";
      display: inline-block;
      vertical-align: middle;
      /* vertical alignment of the inline element */
      height: 100%;
    }

    .container.footer .content {
      display: inline-block;
      vertical-align: middle;
      /* vertical alignment of the inline element */
    }

    .ui-dialog {
      background-color: var(--text-color);
      padding: 20px;
      z-index: 1000;
      /* ensure it's on top of EVERYTHING!!!!!!!!! */
    }

    .contact {
      display: none;
    }
  </style>

  <section class="JS">
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="https://code.jquery.com/ui/1.13.0/jquery-ui.js"></script>
    <script>
      // --------------------------------------------------
      // The scroll stoping and starting functions are from https://www.geeksforgeeks.org/how-to-disable-scrolling-temporarily-using-javascript/

      function disableScroll() {
        // Get the current page scroll position
        scrollTop = window.pageYOffset || document.documentElement.scrollTop;
        scrollLeft = window.pageXOffset || document.documentElement.scrollLeft,

          // if any scroll is attempted, set this to the previous value
          window.onscroll = function () {
            window.scrollTo(scrollLeft, scrollTop);
          };
      }

      function enableScroll() {
        window.onscroll = function () { };
      }

      // --------------------------------------------------

      $(function () {
        $(".contact").dialog({
          closeText: "hide",
          close: function (e, ui) {
            enableScroll();
          },
          closeOnEscape: true,
          autoOpen: false,
          draggable: false
        });
      });
      function openContactBox() {
        disableScroll();
        $(".contact").dialog("close");
        $(".contact").dialog("open");
      };               
    </script>
  </section>

  <div class="container footer">

    <div class="content">
      &copy; Copyright 2021, Ian Boraks | <a href="https://www.linkedin.com/in/ian-boraks/" target="_blank">Linkedin</a> | <a href="https://github.com/Ian-Boraks" target="_blank">Github</a> | <a href="javascript:void(0);" onclick="openContactBox()">Contact</a>
    </div>
  </div>
  <div class="contact">
    <p>
      The best way to obtain my contact information is to request my resume on the homepage or with this link:
      <a href="https://forms.gle/K9xrZ8yxC1t6pHo96" target="_blank">https://forms.gle/K9xrZ8yxC1t6pHo96</a>
    </p>
  </div>
</div>