<div class="download-bar menu">
    <style scoped>
        .menu-bar {
            margin-bottom: -0.3rem;
        }

        .menu input {
            margin-bottom: 0.3rem;
        }
    </style>
    <div class="inner">
        <div class="menu-bar">
            <input id="home-button" type="button" value="Home" onclick="location.href='/index.html';" />
            <input id="back-button" type="button" value="Back" onclick="history.back()" />
            <input id="SolidWorks-button" type="button" value="SolidWorks" onclick="location.href='/SolidWorks.html';" />
            <input id="photo-button" type="button" value="Photography" onclick="location.href='/photography.html';" />
            <input type="button" value="Career Portfolio" onclick="location.href='/career-port.html';" />
        </div>
    </div>
</div>